version: 2

references:
  container_config: &container_config
    docker:
      - image: circleci/node:9.10
    environment:
      TZ: "/usr/share/zoneinfo/America/Los_Angeles"

  workspace_root: &workspace_root
    /tmp/workspace

  attach_workspace: &attach_workspace
    attach_workspace:
      at: *workspace_root

  modules_cache_key: &modules_cache_key
    key: v1-cache-{{ checksum "yarn.lock" }}

  bootstrap: &bootstrap
    restore_cache:
      keys:
        - v1-cache-{{ checksum "yarn.lock" }}
    run:
      name: Install dependencies
      command: |
        yarn
        yarn dependencies
    save_cache:
      keys:
        - v1-cache-{{ checksum "yarn.lock" }}
      paths:
        - node_modules
        - packages/*/node_modules

jobs:
  dependencies:
    <<: *container_config
    steps:
      - checkout
      - *bootstrap

  test:
    <<: *container_config
    steps:
      - checkout
      - *attach_workspace
      - restore_cache:
          <<: *modules_cache_key
      - run:
          name: Setup Code Climate test-reporter
          command: |
            curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
            chmod +x ./cc-test-reporter
      - run:
          name: Run tests
          command: |
            ./cc-test-reporter before-build
            yarn test
            ./cc-test-reporter after-build

  lint:
    <<: *container_config
    steps:
      - checkout
      - *attach_workspace
      - restore_cache:
          <<: *modules_cache_key
      - run:
          name: Lint
          command: yarn lint

  build:
    <<: *container_config
    steps:
      - checkout
      - *attach_workspace
      - restore_cache:
          <<: *modules_cache_key
      - run:
          name: Compile the App
          command: yarn build

workflows:
  version: 2
  build_and_test:
    jobs:
      - dependencies
      - test:
          requires:
            - dependencies
      - lint:
          requires:
            - dependencies
      - build:
          requires:
            - dependencies
